body {
    background-image: url('../images/Clean-Background-White.png');
    /* background-color: grey; */
    /* color: white; */
    margin-top: 15px;

}

.images {
    vertical-align: top;
    display: inline-block;

}

input,
button {
    margin: 2px;
}

#alert {
    z-index: -1;
    /* top: -1000px; */
}

p {
    text-align: center;
}