body {
    /* background-image: url('../images//aurora.jpg'); */
    /* background-color: grey; */
    /* color: white; */
    margin-top: 15px;
}

.images {
    float: left;
    margin: auto;
}

input,
button {
    margin: 2px;
}

#alert {
    z-index: -1;
    /* top: -1000px; */
}

.card {
    /* background-color: lightgrey; */
}

p {
    text-align: center;
}

/* At the top level of your code
@media screen and (min-width: 768px) {
    article {
        padding: 1rem 3rem;
    }
} */