body {
    background-image: url('../images/Clean-Background-White.png');
    /* background-color: grey; */
    /* color: white; */
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;

}

.images {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

input,
button {
    margin: 2px;
}

#alert {
    z-index: -1;
    top: -1000px;
}

p {
    text-align: center;
}

.copied {
    font-size: 30px;
    background: red;
    border: 2px solid black;
    text-align: center;
    color: white;
    border-radius: 20px;
}